body {
    padding: 0;
    margin: 0;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.navbar,
.footer {
    background-color: #57068c;
    color: #fff;
}

.navbar .nav>li>a:hover {
    color: #fff;
}

.navbar .nav>li>a:focus {
    color: #fff;
}

.navbar .nav>li>a {
    color: #fff;
}

.footer {
    margin-top: 50px;
    padding: 15px 30px;
}

.gray-container {
    background-color: #eee;
}

#about {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

@keyframes me-img-hover {
    0% {
        transform: rotate(-15deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

#me-img {
    width: 80%;
    border: 8px solid #57068c;
    box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.long-work-img {
    width: 300px;
    height: 110px;
    border: 1px solid #57068c;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 6px #888;
    -webkit-box-shadow: 3px 3px 6px #888;
    box-shadow: 3px 3px 6px #888;
}

.work-img {
    width: 266px;
    height: 120px;
    border: 1px solid #57068c;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 6px #888;
    -webkit-box-shadow: 3px 3px 6px #888;
    box-shadow: 3px 3px 6px #888;
}

.detail {
    font-size: 13px;
    border: 1px solid #fff;
    background-color: #fff;
}

.prize {
    color: #B02020;
    font-weight: bold;
}

.work-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_title {
    color: #57068c;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 20px;
    font-weight: 50;
}

#news{
    font-weight: bold;
    color: #57068c;
}

#li-important{
    font-weight: bold;
    color: #57068c;
}
